.input {
  margin: 20px;
}

.form-header {
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.form-button {
  background-color: dodgerblue;
}

.form-container {
  max-width: 50%;
}
